@import "../../style";

.character {
  position: relative;
  max-width: 25em;
  min-width: 21em;
  padding: 3em 3em 0 3em;

  background: var(--color-bg);
  border-radius: var(--size-border-radius);
  cursor: default;

  text-align: center;
}

.character-loader {
  color: var(--color-bg);
  padding: 1em;
}

.character-head {
  display: flex;
  border-bottom: 1px solid var(--color-border);
  margin: -3em -3em 2em -3em;
  padding: 3em 3em 2em 3em;
  line-height: 2em;
  justify-content: space-between;
}

.character-photo {
  display: block;
  margin: 0;
  border-radius: 100%;
  box-shadow: 0 0 0 1.5em #fff;
  width: 150px;
  height: 150px;

  @media (--xsmall-viewport) {
    width: 100px;
    height: 100px;
  }
}

.character-about {
  text-align: right;
}

.character-name {
  font-size: 13pt;
  margin: 0;

  @media (--xsmall-viewport) {
    font-size: 11pt;
  }
}

.character-content {
  text-align: left;
  text-transform: initial;
  margin-bottom: 3em;
}

.character-personal {
  text-transform: initial;
  margin-top: 0.5em;
  display: inline-block;
}

.character-personal + .character-personal {
  margin-left: 0.5em;
}

.character-back {
  padding: 1em;
  display: block;
}
